name: Node.js CI

on:
  push:
  pull_request:
  schedule:
    - cron: "0 0 * * *"

jobs:
  test:
    runs-on: ${{ matrix.operating-system }}

    strategy:
      matrix:
        node-version: [14.x, 16.x, 18.x]
        operating-system: [ubuntu-latest, windows-latest, macos-latest]

    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - run: npm install -g cmake-js@6.3.2
      - run: npm install
      - name: Environment Information
        run: npx envinfo
      - name: Run Test
        run: npm test

  nightly-daily-test:
    runs-on: ubuntu-latest
    container: node
    steps:
      - uses: actions/checkout@v3
      - run: npm i -g n && n nightly
      - run: node -p process.versions
      - name: Environment Information
        run: npx envinfo
      - run: npm install -g cmake-js@6.3.2
      - run: npm install
      - name: Environment Information
        run: npx envinfo
      - name: Run Test
        continue-on-error: true
        run: npm test
