name: Build and Deploy the Website

on:
  push:
    branches: [ main ]

permissions:
  contents: write # Pushes to `gh-pages` branch

jobs:
  deploy-website:
    runs-on: ubuntu-latest
    container: node
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a # v2.13.1
        with:
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
      - run: npx envinfo
      - name: Build and Deploy
        env:
          TOKEN: ${{ secrets.GITHUB_TOKEN }}
          REPO: ${{ github.repository }}
          USER: gatsby-deploy-bot <support+actions@github.com>
          NODE_OPTIONS: --openssl-legacy-provider
        working-directory: ./website
        run: |
          npm install
          npx gatsby build --prefix-paths
          npx gh-pages -d public -r https://git:${TOKEN}@github.com/${REPO}.git -u "${USER}"
